<!-- Fixed Header -->

<div style="min-height: 260px; text-align: center;">

<div (click)="reset()" style="
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
  height: 160px;
  background-image: url('assets/oval.svg');
  background-repeat: no-repeat;
  background-position-x: 11px;
">
  <img id="stamperimage" src="assets/stamper.svg" class="stamper-image" [style.top.px]="stamperY">
</div>

<div style="text-align: center;min-height: 60px;">

  <span>
  <div style="
    color: white;
    display: table-cell;
    background-color: #54c19f;
    height: 30px;
    width: 34px;
    border-radius: 30px;
    font-size: 24px;
    padding-top: 3px;
  ">{{step}}</div>
  <div style="display: table-cell;
    padding-left: 9px;
    font-weight: 600;">
    <span *ngIf="step==1">Choose an image</span>
    <span *ngIf="step==2">Choose a license</span>
    <span *ngIf="step==3">Name Author</span>
    <span *ngIf="step==4">Processing</span>
    <span *ngIf="step==5">Ready</span>
  </div>
  </span>

  <div *ngIf="step==1" style="height: 30px;">
    <div style=" color: grey;
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 8px;">
      Select one or more images to get<br>stamped a creative commons license.
    </div>
 </div>

  <div *ngIf="step==2" style="height: 60px;">

  <div style=" color: grey;
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 8px;">
    Creative commons license (Verison 4.0)
  </div>

  <select name="license" id="license" [(ngModel)]="license">
    <option value="cc-0">cc-0</option>
    <option value="cc-by">cc-by</option>
    <option value="cc-by-sa">cc-by-sa</option>
    <option value="cc-by-nd">cc-by-nd</option>
    <option value="cc-by-nc">cc-by-nc</option>
    <option value="cc-by-nc-sa">cc-by-nc-sa</option>
    <option value="cc-by-nc-nd">cc-by-nc-nd</option>
  </select>
  <button md-raised-button (click)="buttonLicense()" color="primary" style="margin-top: 0px;">Next</button>
  </div>

  <div *ngIf="step==3" style="height: 60px;">
  <div style=" color: grey;
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 8px;">
    Show should the author be named?
  </div>
    <input type="text" [(ngModel)]="author" style="height: 31px; padding-left: 13px;">
    <button md-raised-button (click)="buttonAuthor()" color="primary" style="margin-top: 0px;">Next</button>
  </div>

  <div *ngIf="step==4">
    <md-progress-bar
      class="example-margin"
      style="width: 250px;  margin-left:auto; margin-right: auto; margin-top: 16px;"
      [value]="uploadProgress"
      [mode]="(uploadProgress == 0) ? 'indeterminate' : 'determinate'">
    </md-progress-bar>
  </div>

  <div *ngIf="step==5">
    <button md-raised-button (click)="buttonDownloadZip()" color="primary" style="margin-top: 16px; width: 100%; max-width: 300px;">Download ZIP</button>
  </div>

</div>

</div>

<!-- Basic Upload Section -->

<!-- DRAG & DROP DEACTIVATED
<div ng2FileDrop *ngIf="step==1" class="custom-component-drop-zone" style="width: 300px;"
     [ng2FileDropAcceptMultiple]="true"
     (ng2FileDropFileAccepted)="dragFileAccepted($event)"
     (ng2FileDropFileRejected)="dragFileRejected($event)"
>
    <div style=" color: #d0cdcd; margin-top: 16px; font-weight: 600">Drop Image here</div>
</div> -->

  <div *ngIf="step==1" style="margin-top: 0px;">

    <button md-raised-button (click)="manualFileSelect.click()" color="primary" style="margin-top: 0px;">Choose File(s)</button><br>

    <img src="assets/uploadcloud.png" style="max-width: 300px;
    margin-top: 16px;
    opacity: 0.1;"><br>

    <input id="manualFileSelect" type="file" (change)="manualChooseFile($event)" style="visibility:hidden" #manualFileSelect multiple accept="image/gif, image/jpeg, image/png"/><br>
  </div>

<div *ngIf="(step>1)" style="margin: 16px; width: 300px; margin-left:auto; margin-right: auto; text-align: left;">

  <div *ngFor="let image of images" style="margin-bottom:8px;">

    <img [src]="image.dataURL" style="
      width: 300px;
      border-color: lightgray;
      border-width: 1px;
      border-style: solid;"/>

    <div style="width: 300px">
      <table style="width:100%; height: 40px;">
        <tr>
          <td style="width: 50%; text-align: left; vertical-align: top; font-size: 12px; color: lightgray;">{{image.newName ? image.newName : image.name}}</td>
          <td style="width: 50%; text-align: right; vertical-align: top;">
            <button *ngIf="image.newName" md-raised-button (click)="buttonDownload(image);" color="primary" style="margin-top: 0px;">Download</button>
          </td>
        </tr>
      </table>
    </div>

  </div>

</div>
